<div>
  <h1>User Management</h1>
  <app-user-form [selectedUser]="selectedUser" (userCreated)="onUserCreated($event)" (formSubmit)="onFormSubmit($event)"></app-user-form>
  <app-user-table [users]="users" (edit)="editUser($event)" (delete)="deleteUser($event)"></app-user-table>
  <button class="viewpdf-btn" (click)="generatePdf()">View PDF</button>
</div>
  <div *ngIf="showPdfModal" class="modal">
    <div class="modal-content">
      <div class="close-button" (click)="closePdfModal()">&times;</div>
      <app-pdf-viewer [pdfSrc]="pdfData"></app-pdf-viewer>
    </div>
  </div>
